
body {
    direction: rtl;
    text-align: right;
}


.drop {
    width: 200px;
    margin-left:20px;
}

.btnmenu {
    padding: 10px 20px;
    background-color: #d1cfc7;
    color: #055160;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left:20px;
    letter-spacing: 2px;
    font-size: 22px;
}

.dropmunu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #055160;
    border: 1px solid #d1cfc7;
    border-radius: 4px;
    z-index: 1;
    margin-top: 1px;
  
  
    border-radius: 10px;
}


    .dropmunu li {
        padding: 10px;
        text-align: center;
        width: 180px;
        margin-right:8px;
    }

        .dropmunu li a:hover {
            background-color: #d1cfc7;
            color: #055160;
            border-radius: 5px;
            align-content:center;
          
        }

        .dropmunu li a {
            text-decoration: none;
            color: #d1cfc7;
            display: block;
            padding:5px;
            letter-spacing: 1px;
            font-size: 16px;
        }


.drop:hover .dropmunu {
    display: block;
}


.custom-footer {
    background-color: transparent;
    border: none;
}

.custum-bg {
    height: 360px;
    background: #f1f1f1;
    border-radius: 12px;
}
.popup {
    box-sizing: border-box;
    width: 350px;
    background-color: #dee2e6;
    border-radius: 6px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0px 30px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

    .popup img{
        width: 95px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        border: none;
       background-color:aliceblue;
    }

    .popup h2 {
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
        color: crimson;
       
    }

    .popup button {
        width: 100px;
        margin-top: 50px;
        padding: 10px 0;
        border-radius: 4px;
        font-size: 18px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        border: none;
    }

    .popup p {
        
        color: #6c757d;
    }