

#backgroundvideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.textflow {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

    .textflow.show {
        opacity: 1;
        transform: translateY(0);
    }

p {
    color: #808080;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 18px;
}
